<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <!--pico-->
</head>
<body>
  <main class="container">  <!--pico-->
    <h1>Job Scrapper</h1>
    <h4>어떤 직업을 검색하시겠습니까?</h4>
    <form action="/search">
      <input type="text" name="keyword" 
        placeholder="한가지 키워드 입력"/>  
      <button>Search</button>
    </form>
  </main>
</body>
</html>